<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Login Details - Not Yet Implemented...
      </mat-panel-title>
    </mat-expansion-panel-header>
<form>
  <mat-form-field>
    <input matInput placeholder="Email">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Current Password">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="New Password">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Confirm Password">
  </mat-form-field>
  <button class="full-button" mat-raised-button color="primary">Update</button>  
</form>

</mat-expansion-panel>

