.demo-tab-group {
    border: 1px solid #e8e8e8;
  }
  
/* .tab-content {   
    display: flex;
    position: relative;
    flex-wrap: wrap;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: auto;
}

.card {
    width: 200px;
    max-height: 200px;
    margin: 15px;
}
*/
