<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add Workers - Not Yet Implemented...
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
        <input matInput placeholder="Full Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email">
    </mat-form-field>
    <button type="button" mat-raised-button color="primary">Save</button>
    <button type="button" mat-raised-button color="warn">Cancel</button>
  </mat-expansion-panel>