<div class="jobs-container">
  <mat-card class="jobs-card" *ngFor="let jobAd of completedjobAds">
    <mat-card-header>
      <mat-card-title>{{jobAd.name}}</mat-card-title>
      <mat-card-subtitle>{{jobAd.startDate}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{jobAd.description | truncateString}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button color="primary" style="margin-left: 8px">
          <mat-icon matTooltip="View" (click)="openDialog(jobAd)" [matTooltipPosition]="position">visibility</mat-icon>
      </button>   
    </mat-card-actions>
  </mat-card>
</div>