<mat-toolbar>
    <h1>
      Notifications
    </h1>
</mat-toolbar>

<div id="notifications-main">
  <div class="notifications-list">
    <div class="notifications-row" data-id="">
      <div class="thumbnail">
  
      </div>
      <div class="post-content">
          <time class="date timeago" datetime="">Time / 12:20:45</time>
          <span class="date">22/02/2018</span>
          <p class="description">
              <b>22/02/2018</b>
              Not Yet Implemented...
          </p>
          <div class="delete-item">
              <i class="mw-icon mw-icon-trash"></i>
          </div>
      </div>
    </div>
    <div class="notifications-row" data-id="">
        <div class="thumbnail">
   
        </div>
        <div class="post-content">
            <time class="date timeago" datetime="">Time / 12:20:45</time>
            <span class="date">22/02/2018</span>
            <p class="description">
                <b>22/02/2018</b>
                Not Yet Implemented...
            </p>
            <div class="delete-item">
                <i class="mw-icon mw-icon-trash"></i>
            </div>
        </div>
      </div>
  </div>
  <button id="load-more" class="btn-load-more hidden bolder uppercase">Load More</button>
  <div id="back-to-top">
      <img src="assets/img/gototop.png" alt="no-image">
  </div>
  <p>Not Yet Implemented...</p>
</div>

